.col-md-6 {
  border: 0px solid;
}


.container {
  border: 2px solid black;
  box-shadow: 3px 3px black;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  font-size: 1.4rem;
  background-color: #d9d9d9;
  margin-bottom: 50px;
}

.button_creative_work {
  border: 2px solid black;
  box-shadow: 2px 2px inset black;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  font-size: 1.4rem;
  background-color: #ffd600;
  margin-bottom: 20px;
}
.button_feature {
  border: 2px solid black;
  box-shadow: 2px 2px inset black;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  font-size: 1.4rem;
  background-color: white;
  margin-bottom: 20px;
}

.button_experience {
  border: 2px solid black;
  box-shadow: 2px 2px inset black;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  font-size: 1.4rem;
  background-color: #ff6347;
  margin-bottom: 20px;
}

.button_technology {
  border: 2px solid black;
  box-shadow: 2px 2px inset black;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  font-size: 1.4rem;
  background-color: #97c2fc;
  margin-bottom: 20px;
}

.button_user {
  border: 2px solid black;
  box-shadow: 2px 2px inset black;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  font-size: 1.4rem;
  background-color: #8e7b7f;
  margin-bottom: 20px;
}